.resume-column-title{
    color:white;
    font-size: 30px;
    font-weight: 700;
    }
    
    .resume-container{
        display: flex;
        gap: 50px;
        margin-bottom: 50px;
    }
    
    .resume-item-title{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    }
    
    .resume-item-info{
        margin-bottom: 20px;
        margin-top: 0px;
    
    }
    .resume-item-info, .resume-item-description{
        color:white;
    }
    
    .resume-container hr{
        margin: 30px;
    }
    
    .cv-download{
        text-align: center;
        margin-top: 50px;
    }